POSTGRES_DB=labwatch
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433

HEALTH_EVENTS_TOPIC=health-events
ALERT_ENGINE_CONSUMER_GROUP_ID=alert-engine-group

SPRING_JPA_HIBERNATE_DDL_AUTO=update
